# macOS
.DS_Store
# vscode configs (local)
.vscode/
# personal obsidian files
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.obsidian/snippets/
# temporary files/backup
*.log
*.tmp
*.bak
*~
node_modules/
.map
# tweaks
colored folders.css
colored headers.css
custom color accent.css
extended color schemes.css

.claude
.cursorrules
.cursorignore
.github/copilot-instructions.md
AGENTS.md
CLAUDE.md
GEMINI.md

.release.lock

Minimalists Paradise/local config sheets/
