/* ========================================================================== */

/* --- LAYOUT & STRUCTURE -------------------------------------- */

/* ========================================================================== */

/* Transparent Borders */
.workspace-split.mod-horizontal>.workspace-leaf-resize-handle,
.workspace-split.mod-vertical>.workspace-leaf-resize-handle,
.pane-view,
.mod-left,
.mod-left::before,
.mod-right,
.workspace-leaf,
.view-content,
.workspace-tab-header-container-inner,
.workspace-leaf-resize-handle,
.workspace-tab-header-container {
  border: none !important;
}

.view-content {
  background-color: var(--workspace-note-bg) !important;
}

.workspace-tab-header-container-inner {
  align-items: center !important;
  align-content: center !important;
  justify-content: center;
  justify-self: center;
  max-width: 100%;
  gap: 4px;
}

/* Nav Header */
.nav-buttons-container {
  padding: var(--size-2-2);
  background-color: var(--workspace-note-bg);
  border-radius: calc(var(--card-radius) / 2);
  border: 1px solid var(--workspace-note-border);
  overflow: hidden;
  background-clip: padding-box;
}

/* Workspace */

body:not(.is-mobile) .workspace {
  position: relative;
  overflow: visible;
  padding-right: var(--cards-gap);
  background-color: transparent !important;
}

body:not(.is-phone) .workspace-tab-container {
  position: initial;
  display: block;
  width: 100%;
  max-width: var(--card-max-width, 2000px);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-self: center;
  box-sizing: border-box;
  border: 1px solid var(--workspace-note-border);
  background-color: var(--workspace-note-bg);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  overflow: hidden;
  background-clip: padding-box;
}

.workspace-split {
  background-color: transparent !important;
}

.workspace.is-left-sidedock-open .workspace-split.mod-horizontal.mod-left-split {
  margin-right: var(--cards-gap) !important;
}

.workspace.is-right-sidedock-open .workspace-split.mod-horizontal.mod-right-split {
  margin-left: var(--cards-gap) !important;
}

body:not(.is-mobile) .workspace-split.mod-vertical.mod-root {
  gap: var(--cards-gap) !important;
}

.workspace-fake-target-overlay:not(.is-in-sidebar) .workspace-tabs .workspace-leaf,
.mod-root .workspace-tabs .workspace-leaf {
  background-color: transparent !important;
}

.workspace-leaf {
  background-color: var(--workspace-note-bg) !important;
  border-radius: inherit;
  overflow: hidden;
}

.workspace-tab-container > .workspace-leaf-content,
.workspace-leaf-content {
  border-radius: inherit;
  background-clip: padding-box;
}

/* Header */
.view-header {
  background-color: transparent !important;
  border-bottom: 1px dashed var(--workspace-note-border);
  border-radius: 16px 16px 0 0;
  align-self: auto;
  margin: 0;
  box-shadow: none;
}

.view-header-title {
  color: var(--text-normal);
}

span .view-header-title-parent .view-header-breadcrumb {
  color: var(--color-accent) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

.view-header-title-parent {
  color: var(--color-accent);
}

.view-header-title-container.mod-at-start.mod-fade {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  color: var(--text-normal);
}

.mod-fade:not(.mod-at-end)::after {
  display: none;
}

.view-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  color: var(--text-normal);
}

.view-header-breadcrumb-separator {
  color: var(--text-normal);
}

/* Buttons */

.button {
  background-color: var(--interactive-accent);
}

.button:hover {
  background-color: var(--interactive-accent-hover);
  border-radius: var(--clickable-icon-radius);
}

/* Tabs */

.workspace-tab-header-container {
  align-items: center;
  position: relative;
  padding-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid var(--workspace-tab-border);
  height: var(--header-height);
}

html body:not(.is-mobile) .mod-root .workspace-tab-header-container-inner {
  margin-bottom: 0;
  margin-top: 4px !important;
  gap: 8px;
  width: fit-content;
  height: calc(var(--header-height) + 4px);
  padding: 6px 8px 8px 6px;
}

.workspace-tab-header {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  border-radius: var(--tab-radius);
  padding: 0 !important;
  box-shadow: none !important;
  background: var(--workspace-tab-bg);
  box-sizing: border-box;
  color: var(--text-normal);
  overflow: hidden;
  min-height: var(--tab-size);
  align-items: center;
}

.toggle-tab-animations .workspace-tab-header {
  max-width: 100%;
  ;
  display: flex;
  flex-grow: 1;
  border-radius: var(--tab-radius);
  padding: 0 !important;
  box-shadow: none !important;
  transition: flex-grow 0.5s ease-in-out, background-color 0.4s ease-in-out !important;
  background: var(--workspace-tab-bg);
  box-sizing: border-box;
  color: var(--text-normal);
  overflow: hidden;
  min-height: var(--tab-size);
  align-items: center;
}

body:not(.is-mobile).toggle-tab-animations .workspace-tab-header.is-active.mod-active {
  flex-grow: 2 !important;
  max-width: var(--tab-max-width);
  background-color: var(--tab-background-active);
  box-sizing: border-box;
  border: none;
}

body:not(.is-mobile) .workspace-tab-header.is-active.mod-active {
  flex-grow: 2 !important;
  max-width: var(--tab-max-width);
  background-color: var(--color-accent);
  box-sizing: border-box;
  border: none;
}

.workspace-tab-header .is-active {
  max-width: var(--tab-max-width);
  background-color: var(--tab-background-active);
  box-sizing: border-box;
  border: none;
}

.workspace-tab-header-inner::after,
.workspace-tab-header::after,
.workspace-tab-header::before {
  box-sizing: border-box;
  display: none;
}

.workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button {
  box-sizing: border-box;
}

.workspace-tab-header:hover .workspace-tab-header-inner-close-button {
  box-sizing: border-box;
  display: flex;
}

.workspace-tab-header-tab-list {
  box-sizing: border-box;
  display: none !important;
}

.mod-left-split .workspace-tab-header-container .is-active,
.mod-right-split .workspace-tab-header-container .is-active {
  background-color: var(--color-accent);
  box-sizing: border-box;
  border: 1px solid var(--workspace-sidebar-border);
  border-radius: var(--tab-radius);
}

.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header {
  background: color-mix(in srgb, var(--background-primary) calc(var(--workspace-tab-opacity) * 100%), transparent);
  border-radius: var(--tab-radius) !important;
}

.mod-left-split .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header-inner-icon {
  /* adjust icon color for the tabs in the left and right side panels */
  color: var(--text-normal);
}

.mod-left-split .workspace-tab-header-inner,
.mod-right-split .workspace-tab-header-inner {
  padding: 2px;
  box-sizing: border-box;
  height: 100%;
}

.mod-root .workspace-tab-header-status-icon {
  color: var(--tab-text-color-focused-active);
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header.is-active {
  background-color: var(--color-accent) !important;
  border-radius: calc(var(--default-radius) / 2);
}

/* Status Bar */
.status-bar {
  display: flex;
  align-items: center;
  border: none !important;
  width: 100vw;
  left: 0;
  right: 0;
  position: fixed;
  background-color: transparent;
  min-height: 16px;
}

/* Vault Profile */
.workspace-sidedock-vault-profile {
  padding: 8px !important;
  margin-right: auto !important;
  border: 1px solid var(--workspace-sidebar-border) !important;
  border-radius: 0 0 var(--card-radius) var(--card-radius);
  box-sizing: border-box;
  width: 100%;
  align-self: flex-end;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher {
  border-radius: var(--default-radius);
  height: 32px;
  cursor: pointer;
}

body:not(.is-mobile) .workspace-split.mod-left-split {
  position: relative;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-tabs:last-of-type .workspace-tab-container {
  padding-bottom: 44px;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  padding: 6px;
  background-color: var(--workspace-sidebar-bg);
  position: absolute;
  bottom: 0;
  z-index: 10;
  height: 44px;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-tab-container,
body:not(.is-mobile) .workspace-split.mod-right-split .workspace-tab-container,
/*body:not(.is-mobile) .workspace-split.mod-left-split .workspace-leaf,
body:not(.is-mobile) .workspace-split.mod-right-split .workspace-leaf,*/
body:not(.is-mobile) .workspace-split.mod-left-split .nav-buttons-container,
body:not(.is-mobile) .workspace-split.mod-right-split .nav-buttons-container {
  background-color: var(--workspace-sidebar-bg) !important;
}


body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-actions {
  gap: var(--size-2-1);
}

.workspace-drawer-vault-switcher {
  padding: 4px 2px !important;
}

.workspace-drawer-vault-actions .clickable-icon {
  padding: 4px !important;
}

/* Sidebar */
.sidebar-toggle-button {
  background-color: transparent !important;
}

body.is-focused .sidebar-toggle-button {
  background-color: transparent !important;
}

/* Ribbon */
.workspace-ribbon.side-dock-ribbon {
  background-color: var(--workspace-ribbon-bg);
  border-right: 1px solid var(--workspace-ribbon-border);
}

.side-dock-ribbon-action {
  padding: var(--size-2-2);
  background-color: var(--workspace-ribbon-bg);
  border: none;
  border-radius: var(--tab-radius);
}

/* Empty State */

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: var(--view-header-height);
  padding: var(--file-margins);
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-container::before {
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="140" height="180" viewBox="0 0 140 180" fill="none"><path d="M49.775 105.089C54.3828 103.715 61.8069 101.605 70.3434 101.082C65.2222 88.1449 63.986 76.8242 64.9803 66.7442C66.1285 55.1033 70.23 45.3874 74.228 37.1201C75.0811 35.3561 75.9012 33.7135 76.6879 32.1378C77.8017 29.9069 78.8486 27.81 79.8278 25.6916C81.4579 22.1652 82.6674 19.051 83.2791 16.1576C83.8806 13.3125 83.8838 10.7715 83.1727 8.3342C82.4607 5.89352 80.9475 3.26635 78.0704 0.386692C74.3134 -0.587559 70.1448 0.267767 67.0197 3.08162L29.9298 36.4772C27.861 38.34 26.503 40.8642 26.0879 43.6182L22.8899 64.8384C27.9185 69.2873 40.33 82.2201 47.8789 100.165C48.5525 101.766 49.1875 103.408 49.775 105.089Z" fill="white"/><path d="M21.3902 74.5293C21.2153 75.2761 20.9692 76.0051 20.6549 76.7063L1.05225 120.436C-0.961131 124.928 -0.0336421 130.194 3.39276 133.726L34.2418 165.523C49.9952 142.262 47.6984 120.379 40.5026 103.274C35.0465 90.3037 26.777 80.1526 21.3902 74.5293Z" fill="white"/><path d="M41.3687 169.269C41.9093 169.355 42.4575 169.407 43.0096 169.424C48.864 169.6 58.7098 170.109 66.6947 171.582C73.2088 172.783 86.1213 176.397 96.747 179.505C104.855 181.877 113.211 175.396 114.387 167.024C115.245 160.917 116.855 154.009 119.821 147.677L119.753 147.702C114.73 133.682 108.34 124.629 101.641 118.849C94.9619 113.086 87.7708 110.397 80.8276 109.42C69.2835 107.795 58.7071 110.832 52.0453 112.791C56.0353 129.428 54.8074 149.004 41.3687 169.269Z" fill="white"/><path d="M124.96 139.034C131.626 128.965 136.375 121.134 138.881 116.888C140.135 114.764 139.907 112.102 138.423 110.133C134.554 105.002 127.152 94.5755 123.12 84.9218C118.973 74.9962 118.355 59.5866 118.319 52.081C118.306 49.2279 117.402 46.4413 115.639 44.1994L91.6762 13.73C91.5918 15.1034 91.3946 16.4659 91.1093 17.8158C90.3118 21.5882 88.8073 25.3437 87.0916 29.0552C86.086 31.2306 84.9238 33.5612 83.7497 35.9157C82.9682 37.4827 82.1814 39.0607 81.432 40.6102C77.5579 48.6212 73.9528 57.3151 72.9451 67.5313C72.011 77.0006 73.2894 88.014 79.0482 101.162C80.0074 101.243 80.9727 101.351 81.9422 101.487C90.2067 102.651 98.8807 105.891 106.866 112.781C113.73 118.704 119.932 127.19 124.96 139.034Z" fill="white"/></svg>');
  position: absolute;
  margin-top: calc(-1 * (var(--header-height) + var(--view-header-height)));
  background-color: var(--background-modifier-hover);
  width: 20%;
  height: 20%;
  max-height: 120px;
  pointer-events: none;
  content: "";
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-title {
  display: none;
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-action-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin: 0;
  width: 100%;
  max-width: var(--file-line-width);
  height: 100%;
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-action {
  cursor: pointer;
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-action.tappable {
  color: var(--text-accent);
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-action.mod-close {
  display: none;
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-action:first-child {
  width: 100%;
  height: 100%;
  margin-top: calc(var(--default-radius) * 2);
  font-weight: var(--inline-title-weight);
  font-size: var(--inline-title-size);
  line-height: var(--inline-title-line-height);
  letter-spacing: -0.015em;
  text-align: left;
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-action:first-child::after {
  content: "...";
}

body:not(.empty-state-off) .workspace-leaf-content[data-type="empty"] .empty-state-action:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  cursor: text;
  margin-bottom: 16px;
  border: var(--input-border-width) solid var(--background-modifier-border);
  border-radius: var(--radius-l);
  background-color: var(--background-modifier-hover);
  padding: 4px var(--side-padding);
  width: 100%;
  color: var(--color-base-100);
  text-align: left;
}

.mod-root .mod-horizontal>.workspace-tabs .empty-state-container {
  padding-bottom: 16px !important;
}

.mod-root .mod-horizontal>.workspace-tabs .empty-state-container .empty-state-action:nth-child(2) {
  margin-bottom: 0;
}

.mod-root .mod-horizontal>.workspace-tabs .empty-state-container::before {
  display: none;
}

body:not(.empty-state-off).is-mobile .empty-state-container {
  padding-bottom: 96px !important;
}

body:not(.empty-state-off).is-mobile .empty-state-container::before {
  margin-top: 44px !important;
}

body:not(.empty-state-off).is-mobile .empty-state-action {
  margin: unset;
  background-color: transparent;
  padding: unset;
}

body:not(.empty-state-off).is-mobile .empty-state-action:first-child {
  margin-top: 0;
  padding-top: calc(var(--safe-area-inset-top) + 8px);
}

body:not(.empty-state-off).is-mobile .empty-state-action:nth-child(2) {
  background-color: var(--background-secondary) !important;
  padding: 4px var(--side-padding);
}

body:not(.empty-state-off).is-mobile .empty-state-action:nth-child(n+3) {
  margin: 4px 0;
}

body:not(.empty-state-off).is-tablet .empty-state-container::before {
  margin-top: calc(-1 * var(--header-height));
}

body:not(.empty-state-off).is-tablet .empty-state-action:first-child {
  margin-top: 0;
  padding-top: 8px;
}

.modal,
.menu,
.suggestion-container,
.suggestion-item.is-selected {
  border-radius: var(--modal-radius);
}

body:not(.is-phone) {
  --menu-padding: 4px;
}

body:not(.is-mobile) .menu .menu-separator {
  margin: 6px 8px;
}

.suggestion-item.is-selected {
  background-color: var(--background-modifier-hover);
}

.menu-item {
  border-radius: 0;
}

.menu-group .menu-item:first-child {
  border-top-left-radius: calc(var(--clickable-icon-radius) / 2);
  border-top-right-radius: calc(var(--clickable-icon-radius) / 2);
}

.menu-group .menu-item:last-child {
  border-bottom-left-radius: calc(var(--clickable-icon-radius) / 2);
  border-bottom-right-radius: calc(var(--clickable-icon-radius) / 2);
}

.menu-group .menu-item:not(:last-child) {
  border-bottom: none;
}

/* Settings Modal */

.setting-item {
  border: none;
}

.modal-setting-nav-bar {
  border-bottom: none;
}

.community-item {
  border-radius: var(--card-radius);
}

/* Inspired by and adapted from the Cupertino Theme MIT License Copyright (c) 2025 aaaaalexis https://github.com/aaaaalexis/obsidian-cupertino */


body:not(.is-phone) .modal.mod-settings .installed-plugins-container .setting-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--cards-gap)
}

body:not(.is-phone) .modal.mod-settings .installed-plugins-container .setting-items .setting-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--background-modifier-border);
  border-radius: var(--card-radius);
  background-color: var(--color-panel);
  padding: 16px !important;
  margin: 0 !important
}

body:not(.is-phone) .modal.mod-settings .installed-plugins-container .setting-items .setting-item-info {
  margin-inline-end: 0;
  width: 100%
}

body:not(.is-phone) .modal.mod-settings .installed-plugins-container .setting-items .setting-item-description>div:last-child {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical
}

body.is-tablet .modal.mod-sidebar-layout .installed-plugins-container {
  gap: calc(var(--cards-gap) / 2);
}

/* ========================================================================== */

/* --- MOBILE & TABLET STYLES ---------------------------------- */

.is-mobile.theme-dark,
.is-mobile.theme-light {
  --mobile-sidebar-background: var(--background-default);
  --mobile-sidebar-width: 96.5%;
  --navbar-side-padding: var(--safe-area-inset-side);
  --safe-area-inset-side: 16px;
  --navbar-bottom-padding: max(var(--safe-area-inset-bottom), 28px);
  --touch-size-l: 48px;
}

/* toggle read and edit button position for phone */

/*
body.is-phone:not(.mode-switcher-off) .mod-root .workspace-leaf-content[data-type=markdown] .view-actions button:nth-last-child(2) {
  position: fixed;
  transition: var(--anim-duration-moderate), background-color var(--anim-duration-moderate);
  right: var(--navbar-side-padding);
  bottom: var(--navbar-bottom-padding);
  margin-bottom: 0;
  border-radius: 100%;
  height: var(--navbar-height);
}

body.is-phone:not(.mode-switcher-off) .mobile-navbar {
  max-width: calc(100% - 8px - var(--navbar-side-padding) * 2);
  inset: auto calc(var(--navbar-side-padding) * 3.75) var(--navbar-bottom-padding);
  overflow: hidden;
  padding: 4px;
  margin: 0;
  transition: var(--anim-duration-moderate), background-color var(--anim-duration-moderate);
  will-change: bottom;
}
*/
body.is-tablet .workspace-tab-container {
  border-radius: var(--mobile-card-radius);
}

body.is-mobile .workspace-tab-container {
  background-color: var(--workspace-note-bg) !important;
}

body.is-mobile .workspace-drawer {
  border-radius: var(--mobile-card-radius);
  background-color: transparent !important;
}

body.is-mobile .workspace-drawer-inner {
  background-color: var(--workspace-sidebar-bg);
  border: 1px solid var(--workspace-sidebar-border);
  border-radius: var(--mobile-card-radius);
}

body.is-tablet .workspace-drawer-inner {
  padding-top: 10px;
}

.is-phone .modal.mod-settings .vertical-tab-nav-item-chevron,
.is-phone .modal.mod-settings .vertical-tab-nav-item-title {
  border-bottom: none;
}

body.is-mobile .nav-buttons-container {
  background-color: transparent;
  border: none;
}

body.is-mobile .workspace-tab-header {
  background-color: transparent;
}

body.is-phone .nav-buttons-container::after {
  background: linear-gradient(to top, var(--workspace-sidebar-bg), transparent);
}

body.is-mobile .workspace-drawer-active-tab-container {
  background-color: transparent;
}

body.is-tablet .workspace-drawer:not(.is-pinned).mod-left {
  margin: 40px 16px 0 9px;
  padding-top: 0;
  border-radius: var(--card-radius);
}

body.is-tablet .workspace-drawer:not(.is-pinned).mod-right {
  margin: 40px 9px 0 16px;
  padding-top: 0;
  border-radius: var(--card-radius);
}

body.is-tablet .workspace-drawer.is-pinned {
  margin-top: 20px
}

body.is-mobile .workspace-sidedock-vault-profile {
  padding: 0;
  margin: 0;
  background-color: var(--workspace-sidebar-bg);
  border: 1px solid var(--workspace-sidebar-border) !important;
  border-radius: 0 4px 4px 0;
}

body.is-mobile .workspace-drawer .nav-header {
  border: none;
}

body.is-mobile .mod-root .workspace-tab-header-container-inner {
  padding-bottom: 6px;
}

body.is-mobile .workspace-drawer-active-tab-header {
  max-width: fit-content;
  border-radius: calc(var(--default-radius));
}

body.is-mobile .menu-item {
  background-color: var(--interactive-normal);
}

/* Phones only (up to 767px) */
@media (width <= 767px) {
  .workspace-tab-container,
  .workspace-split.mod-horizontal {
    overflow-x: hidden !important;
    max-width: 100% !important;
  }

  body {
    overflow-x: hidden !important;
  }

  body.is-mobile .workspace-drawer {
    margin-bottom: calc(var(--cards-gap) / 2);
    margin-top: calc(var(--cards-gap) / 2);
  }

  body.is-mobile .workspace-drawer.mod-left {
    margin-left: calc(var(--cards-gap) / 2);
  }
}

/* Tablets (768px to 1366px) */
@media (width >= 768px) and (width <= 1366px) {
  .workspace-tab-container,
  .workspace-split.mod-horizontal {
    overflow-x: hidden !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
  }

  .is-mobile .workspace>.mod-root {
    padding-left: calc(var(--cards-gap) / 4);
    padding-right: calc(var(--cards-gap) / 4);
  }

  body {
    overflow-x: hidden !important;
  }

  body.is-mobile .workspace-tabs {
    padding-left: calc(var(--cards-gap) / 4);
    padding-right: calc(var(--cards-gap) / 4);
    padding-bottom: calc(var(--cards-gap) / 2);
  }

  body.is-mobile .workspace-drawer.mod-left.is-pinned {
    padding-left: calc(var(--cards-gap) / 2);
  }

  body.is-mobile .workspace-drawer.mod-right.is-pinned {
    padding-right: calc(var(--cards-gap) / 2);
  }

  body.is-mobile .workspace-drawer.is-pinned {
    padding-bottom: calc(var(--cards-gap) * 2);
  }

}

/* collapse icon for mobile */
body.obsidian-app.fn-whitespace-stop-collapsing.is-mobile .nav-files-container .collapse-icon {
  border-radius: calc(var(--default-radius) * 2);
  background-color: var(--background-primary);
  width: 24px;
  height: 24px;
}

body.is-mobile .nav-files-container .tree-item-icon.collapse-icon {
  right: var(--side-padding);
  margin-inline-start: unset;
}

body.obsidian-app.fn-whitespace-stop-collapsing .nav-files-container .collapse-icon {
  padding-top: 0 !important;
}

/* modals for mobile */

body.is-phone .vertical-tab-header .vertical-tab-header-group .vertical-tab-header-group-items {
  border: 1px solid var(--divider-color);
  background-color: var(--background-default);
  overflow: hidden;
}

body.is-mobile .vertical-tab-nav-item {
  border: none !important;
}

.is-phone .modal.mod-lg .modal-header,
.is-phone .modal.mod-sidebar-layout .modal-header {
  border-bottom: none;
}

body.is-phone .modal.mod-sidebar-layout .vertical-tab-header,
body.is-phone .modal.mod-sidebar-layout .vertical-tab-content {
  padding-right: var(--cards-gap);
  padding-left: var(--cards-gap);
}

body.is-phone .menu {
  margin: calc(var(--cards-gap) / 2);
  border-radius: calc(var(--mobile-card-radius) * 1.5);
  background-color: var(--color-panel);
}

body.is-phone .menu-scroll {
  padding: var(--card-padding);
  border-radius: calc(var(--mobile-card-radius) * 1.5);
  background-color: var(--color-panel);
}

.is-phone .menu-group .menu-item:first-child {
  border-top-left-radius: calc(var(--mobile-card-radius) / 2);
  border-top-right-radius: calc(var(--mobile-card-radius) / 2);
}

.is-phone .menu-group .menu-item:last-child {
  border-bottom-left-radius: calc(var(--mobile-card-radius) / 2);
  border-bottom-right-radius: calc(var(--mobile-card-radius) / 2);
}

.is-phone .menu-group .menu-item:not(:last-child) {
  border-bottom: none;
}

body.is-phone .menu .menu-separator,
body.is-phone .suggestion-container .menu-separator {
  margin: 6px 0;
}

/* Floating Mobile Toolbar */

/* Inspired by and adapted from the Cupertino Theme MIT License Copyright (c) 2025 aaaaalexis https://github.com/aaaaalexis/obsidian-cupertino */

body.is-mobile .mobile-toolbar-spacer {
  display: none;
}

body.is-mobile .mobile-toolbar-options-list {
  --icon-size: var(--icon-l);
  --icon-color: var(--text-normal);

  gap: 8px;
  box-shadow: var(--shadow-xs) !important;
  backdrop-filter: var(--blur-s);
  justify-content: flex-start;
  max-width: fit-content;
  border-radius: var(--clickable-icon-radius);
  padding: 0 8px;
  pointer-events: auto;
  overflow: hidden;
  transition: var(--anim-duration-moderate);
}

body.is-mobile .mobile-toolbar-options-list .clickable-icon {
  width: 48px;
  height: 48px;
  padding: 0;
}

body.is-mobile .mobile-toolbar-option {
  --icon-size: var(--icon-l);
  --icon-stroke: var(--icon-l-stroke-width);

  padding: 12px;
}

body.is-mobile .mobile-toolbar-options-container {
  gap: 8px;
}

body.is-mobile .mobile-toolbar {
  transition: var(--anim-duration-moderate) var(--anim-motion);
  background-color: transparent;
  overflow: visible;
  padding: 0 var(--side-padding) var(--side-padding) !important;
  box-shadow: none;
}

body.is-tablet .mobile-toolbar {
  position: fixed;
  inset: calc(100vh - calc(var(--mobile-toolbar-height) * 1.45)) 0 max(var(--keyboard-height), 0px);
  z-index: var(--layer-status-bar);
  border: none;
  padding: 0 28px max(var(--safe-area-inset-bottom), 16px);
}

body.is-tablet .view-actions.mod-raised {
  background: none;
}

body.is-phone .mobile-toolbar {
  position: fixed;
  right: 0;
  bottom: var(--keyboard-height);
  left: 0;
  z-index: var(--layer-status-bar);
  border: none;
  padding: 0 28px max(var(--safe-area-inset-bottom), 16px);
  top: unset;
}

/********** Mode Switchcer **********/
body.is-phone .mod-root .view-header {
  z-index: 3;
  border-bottom: none;
}

body.is-phone .mod-root .workspace-leaf-content[data-type="markdown"] .view-actions button:nth-last-child(2) {
  box-shadow: var(--shadow-xs) !important;
  transition: var(--anim-duration-moderate) var(--anim-motion-cupertino), opacity var(--anim-duration-moderate) !important;
  background-color: var(--color-accent);
}

body.is-phone.mod-toolbar-open .mod-root .workspace-leaf-content[data-type="markdown"] .view-actions button:nth-last-child(2) {
  padding: 10px;
  margin-bottom: calc(var(--side-padding) - 12px);
}

body.is-phone .mod-root .workspace-leaf-content[data-mode="source"] .view-actions button:nth-last-child(2) {
  background-color: var(--interactive-accent) !important;
  box-shadow: var(--shadow-xs) !important;
}

/* ========================================================================== */

