/* --- LAYOUT & STRUCTURE -------------------------------------- */

/* ========================================================================== */

/* Transparent Borders */
.workspace .workspace-split.mod-horizontal > .workspace-leaf-resize-handle,
.workspace .workspace-split.mod-vertical > .workspace-leaf-resize-handle,
.workspace .pane-view,
.workspace .mod-left,
.workspace .mod-left::before,
.workspace .mod-right,
.workspace .workspace-leaf,
.workspace .view-content,
.workspace .workspace-tab-header-container-inner,
.workspace .workspace-tabs .workspace-leaf-resize-handle,
.workspace .workspace-tab-header-container {
  border: none;
}

.workspace-split.mod-root .view-content {
  background-color: var(--workspace-note-bg);
}

.workspace-tab-header-container-inner {
  align-items: center;
  align-content: center;
  justify-self: center;
  max-width: 100%;
  gap: 4px;
}

/* Nav Header */
.nav-buttons-container {
  padding: var(--size-2-2);
  background-color: var(--workspace-note-bg);
  border-radius: calc(var(--card-radius) / 2);
  border: 1px solid var(--workspace-note-border);
  overflow: hidden;
  background-clip: padding-box;
}

/* Workspace */

body:not(.is-mobile) .workspace {
  position: relative;
  overflow: visible;
  padding-right: var(--cards-gap);
  background-color: transparent;
}

body:not(.is-phone) .workspace-tab-container {
  position: initial;
  display: block;
  width: 100%;
  max-width: var(--card-max-width, 2000px);
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-self: center;
  box-sizing: border-box;
  border: 1px solid var(--workspace-note-border);
  background-color: var(--workspace-note-bg);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  overflow: hidden;
  background-clip: padding-box;
}

.workspace-split {
  background-color: transparent;
}

.workspace.is-left-sidedock-open .workspace-split.mod-horizontal.mod-left-split {
  margin-right: var(--cards-gap);
}

.workspace.is-right-sidedock-open .workspace-split.mod-horizontal.mod-right-split {
  margin-left: var(--cards-gap);
}

body:not(.is-mobile) .workspace-split.mod-vertical.mod-root {
  gap: var(--cards-gap);
}

.workspace-fake-target-overlay:not(.is-in-sidebar) .workspace-tabs .workspace-leaf,
.mod-root .workspace-tabs .workspace-leaf {
  background-color: transparent;
}

.workspace-tabs .workspace-leaf {
  background-color: var(--workspace-note-bg);
  border-radius: inherit;
  overflow: hidden;
}

.workspace-tab-container > .workspace-leaf-content,
.workspace-leaf-content {
  border-radius: inherit;
  background-clip: padding-box;
}

/* Header */
.view-header {
  background-color: transparent;
  border-bottom: 1px dashed var(--workspace-note-border);
  border-radius: 16px 16px 0 0;
  align-self: auto;
  margin: 0;
  box-shadow: none;
}

.view-header-title {
  color: var(--text-normal);
}

span .view-header-title-parent .view-header-breadcrumb {
  color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}

.view-header-title-parent {
  color: var(--color-accent);
}

.view-header-title-container.mod-at-start.mod-fade {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  color: var(--text-normal);
}

.mod-fade:not(.mod-at-end)::after {
  display: none;
}

.view-header-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  color: var(--text-normal);
}

.view-header-breadcrumb-separator {
  color: var(--text-normal);
}

/* Buttons */

.button {
  background-color: var(--interactive-accent);
}

.button:hover {
  background-color: var(--interactive-accent-hover);
  border-radius: var(--clickable-icon-radius);
}

/* Tooltips */
body .tooltip, body .cm-tooltip {
  border-radius: var(--default-radius)
}

/* Tabs */

.workspace .workspace-split .workspace-tab-header-container {
  align-items: center;
  position: relative;
  padding-bottom: 4px;
  padding-top: 4px;
  background-color: transparent;
  border: none;
  height: var(--header-height);
}

body .mod-root .workspace-tab-header-container-inner {
  height: var(--header-height);
}

body:not(.is-mobile) .mod-root .workspace-tab-header-container-inner {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: calc(var(--header-height) + 4px);
  padding: 6px;
  margin: 0;
}

.workspace .mod-root .workspace-tab-header {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  border-radius: var(--tab-radius);
  padding: var(--tab-padding);
  box-shadow: none;
  background: var(--workspace-tab-bg);
  box-sizing: border-box;
  color: var(--text-normal);
  overflow: hidden;
  min-height: var(--tab-size);
  align-items: center;
}

.toggle-tab-animations .workspace .mod-root .workspace-tab-header {
  max-width: 100%;
  display: flex;
  flex-grow: 1;
  border-radius: var(--tab-radius);
  padding: var(--tab-padding);
  box-shadow: none;
  transition: flex-grow 0.5s ease-in-out, background-color 0.4s ease-in-out;
  background: var(--workspace-tab-bg);
  box-sizing: border-box;
  color: var(--text-normal);
  overflow: hidden;
  min-height: var(--tab-size);
  align-items: center;
}

body:not(.is-mobile).toggle-tab-animations .workspace-tab-header.is-active.mod-active {
  flex-grow: 2;
  max-width: var(--tab-max-width);
  background-color: var(--tab-background-active);
  box-sizing: border-box;
  border: none;
}

body:not(.is-mobile) .workspace-tab-header.is-active.mod-active {
  flex-grow: 2;
  max-width: var(--tab-max-width);
  background-color: var(--color-accent);
  box-sizing: border-box;
  border: none;
}

.workspace .mod-root .workspace-tab-header.is-active {
  max-width: var(--tab-max-width);
  background-color: var(--tab-background-active);
  box-sizing: border-box;
  border: none;
}

.workspace-tab-header .is-active {
  max-width: var(--tab-max-width);
  background-color: var(--tab-background-active);
  box-sizing: border-box;
  border: none;
}

.workspace .mod-root .workspace-tab-header-inner {
  width: 100%;
  height: 100%;
}

.workspace-tab-header-inner::after,
.workspace-tab-header::after,
.workspace-tab-header::before {
  box-sizing: border-box;
  display: none;
}

.workspace-tab-header:not(.is-active) .workspace-tab-header-inner-close-button {
  box-sizing: border-box;
}

.workspace-tab-header:hover .workspace-tab-header-inner-close-button {
  box-sizing: border-box;
  display: flex;
}

.workspace-tab-header-tab-list {
  box-sizing: border-box;
  display: none;
}

.mod-left-split .workspace-tab-header-container .is-active,
.mod-right-split .workspace-tab-header-container .is-active {
  background-color: var(--color-accent);
  box-sizing: border-box;
  border: 1px solid var(--workspace-sidebar-border);
  border-radius: var(--tab-radius);
}

.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header {
  background: color-mix(in srgb, var(--background-primary) calc(var(--workspace-tab-opacity) * 100%), transparent);
  border-radius: var(--tab-radius);
}

.mod-left-split .workspace-tab-header-inner-icon,
.mod-right-split .workspace-tab-header-inner-icon {
  /* adjust icon color for the tabs in the left and right side panels */
  color: var(--text-normal);
}

.mod-left-split .workspace-tab-header-inner,
.mod-right-split .workspace-tab-header-inner {
  padding: 2px;
  box-sizing: border-box;
  height: 100%;
}

.mod-root .workspace-tab-header-status-icon {
  color: var(--tab-text-color-focused-active);
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header.is-active {
  background-color: var(--color-accent);
  border-radius: calc(var(--default-radius) / 2);
}

/* Status Bar */
.status-bar {
  display: flex;
  align-items: center;
  border: none;
  width: 100vw;
  left: 0;
  right: 0;
  position: fixed;
  background-color: transparent;
  min-height: 16px;
}

/* Vault Profile */
.workspace-sidedock-vault-profile {
  padding: 8px;
  margin-right: auto;
  border: 1px solid var(--workspace-sidebar-border);
  border-radius: 0 0 var(--card-radius) var(--card-radius);
  box-sizing: border-box;
  width: 100%;
  align-self: flex-end;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher {
  border-radius: var(--default-radius);
  height: 32px;
  cursor: pointer;
}

body:not(.is-mobile) .workspace-split.mod-left-split {
  position: relative;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-tabs:last-of-type .workspace-tab-container {
  padding-bottom: 44px;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
  padding: 6px;
  background-color: var(--workspace-sidebar-bg);
  position: absolute;
  bottom: 0;
  z-index: 10;
  height: 44px;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-tab-container,
body:not(.is-mobile) .workspace-split.mod-right-split .workspace-tab-container,
/*body:not(.is-mobile) .workspace-split.mod-left-split .workspace-leaf,
body:not(.is-mobile) .workspace-split.mod-right-split .workspace-leaf,*/
body:not(.is-mobile) .workspace-split.mod-left-split .nav-buttons-container,
body:not(.is-mobile) .workspace-split.mod-right-split .nav-buttons-container {
  background-color: var(--workspace-sidebar-bg);
}


body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-actions {
  gap: var(--size-2-1);
}

.workspace-drawer-vault-switcher {
  padding: 4px 2px;
}

.workspace-drawer-vault-actions .clickable-icon {
  padding: 4px;
}

/* Sidebar */
.sidebar-toggle-button {
  background-color: transparent;
}

body.is-focused .sidebar-toggle-button {
  background-color: transparent;
}

/* Ribbon */
.workspace-ribbon.side-dock-ribbon {
  background-color: var(--workspace-ribbon-bg);
  border: none;
}

.workspace-ribbon.mod-primary::before {
  border: none;
}

.side-dock-ribbon-action {
  padding: var(--size-2-2);
  background-color: var(--workspace-ribbon-bg);
  border: none;
  border-radius: var(--clickable-icon-radius);
}
